{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Nurse</title>
</head>
<body>
    <h1>{{ object.FirstName }} {{ object.LastName }}</h1>
    <p>{{ object.Gender }}</p>
    <p>{{ object.PhoneNumber }}</p>
    <p>{{ object.Office }}</p>
    <p>Availabilities</p>
    {% for interval in object.intervals.all %}
        <ul>
            <li>
                {{ interval.weekday }} : 
                {{ interval.real_start_time }} - {{ interval.real_end_time }}
            </li>
        </ul>
    {% endfor %}
    <a class="homepage_button" align="center" href="{% url 'nurse_list' %}">See Nurses</a>
</body>

{% endblock %}