{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <h3 class="profile-username text-center">{{ object.FirstName }} {{ object.LastName }}</h3>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Gender</b><a class="pull-right">{{ object.Gender }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Phone Number</b><a class="pull-right">{{ nurse.PhoneNumber }}</a>
                    </li>
                </ul>
                {% if not object.intervals.all %}
                <p>No Availabilities registered</p>
                {% else %}
                <p>Availabilities</p>
                {% for interval in object.intervals.all %}
                <ul>
                    <li>
                        {{ interval.weekday }} :
                        {{ interval.real_start_time }} - {{ interval.real_end_time }}
                    </li>
                </ul>
                {% endfor %}

                {% endif %}
                <p>Planning</p>
                {% for element in list_all %}
                    <ul>
                        <li>
                            RDV N°{{ element.number_visit }}</br>
                            Date :      {{ element.visit.date }}</br>
                            Hour :      {{ element.visit.time }}</br>
                            Treatment : <a href="{% url 'soin_detail' element.patient.pk element.treatment.pk %}" >{{ element.visit.soin.name_soin }}</a></br>
                            Patient :   <a href="{% url 'patient_detail' element.patient.pk %}" >{{element.patient.FirstName}} {{element.patient.LastName}}</a></br>
                            Address :   {{element.patient.Adress}}</br>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <div class="box-footer">
                <div class="row">
                    <form action="{% url 'nurse_list' nurse.pk %}" method="POST" class="pull-left">
                        {% csrf_token %}
                        <button type="submit" name="NewForm" class="btn btn-block btn-success" style="color: #fff;"><i class="ion-plus"></i> Add an availability</button>
                    </form>
                    <form action="{% url 'nurse_list' nurse.pk %}" method="POST" class="pull-right">
                        {% csrf_token %}
                    <button type="submit" name="Deletion" class="btn btn-block btn-danger" style="color: #fff;">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-block btn-primary" href="{% url 'nurse_list' %}" style="color: #fff;text-decoration:none;">Back to Nurses</a>

{% endblock %}