{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Soin</title>
</head>
<body>
    <h1>{{ treatment.name_soin }}</h1>
    <p>Name of the patient : {{ patient.FirstName }}</p>
    <p>{{ treatment.type_soin }}</p>
    <p>Start date : {{ treatment.start_date }}</p>
    <p>{{ treatment.frequence_soin }}</p>
    <p>{{ treatment.ponctualite_definie }}</p>

    <form action="{% url 'patient_list' treatment.pk %}" method="POST">
        {% csrf_token %}
    <button type="submit" name="Deletion treatment">Delete this treatment</button>
    </form>


    <a class="homepage_button" align="center" href="{% url 'patient_detail'  patient.pk %}">Back to {{patient.FirstName}} {{patient.LastName}}</a>


</body>

{% endblock %}