{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Soin</title>
</head>
<body>
    <h1>{{ soin.name_soin }}</h1>
    <p>Name of the patient : {{ patient.FirstName }}</p>
    <p>{{ soin.type_soin }}</p>
    <p>Start date : {{ soin.start_date }}</p>
    <p>{{ soin.frequence_soin }}</p>
    <p>{{ soin.ponctualite_definie }}</p>
    <form action="{% url 'patient_list' soin.pk %}" method="POST">
        {% csrf_token %}
    <button type="submit" name="Deletion Soin">Delete</button>
    </form>


    <a class="homepage_button" align="center" href="{% url 'patient_list' %}">See Soin (à changer)</a>
</body>

{% endblock %}