{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-push-1">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <h3 class="profile-username text-center">{{ object.FirstName }} {{ object.LastName }}</h3>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Gender</b>
                        {% if object.Gender == "M" %}
                        <a class="pull-right">Male</a>
                        {% else %}
                        <a class="pull-right">Female</a>
                        {% endif %}

                    </li>
                    <li class="list-group-item">
                        <b>Phone Number</b><a class="pull-right">{{ object.PhoneNumber }}</a>
                    </li>
                </ul>
                {% if not object.intervals.all %}
                <p>No Availabilities registered</p>
                {% else %}
                <p>Availabilities</p>
                {% for interval in object.intervals.all %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <p>{{ interval.weekday }}</p>
                            </div>
                            <div class="col-md-3 col-md-push-5">
                                <a class="pull-right">{{ interval.real_start_time }} - {{ interval.real_end_time }} </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a class="btn btn-block btn-default">Delete</a>
                            </div>
                        </div>
                    </li>
                </ul>
                {% endfor %}

                {% endif %}
                <p>Planning of today</p>
                {% for element in list_all_today %}
                    <ul>
                        <li>
                            RDV N°{{ element.number_visit }}</br>
                            Date :      {{ element.visit.date }}</br>
                            Hour :      {{ element.visit.time }}</br>
                            Treatment : <a href="{% url 'soin_detail' element.patient.pk element.treatment.pk %}" >{{ element.visit.soin.name_soin }}</a></br>
                            Patient :   <a href="{% url 'patient_detail' element.patient.pk %}" >{{element.patient.FirstName}} {{element.patient.LastName}}</a></br>
                            Address :   {{element.patient.Adress}}</br>
                        </li>
                    </ul>
                {% endfor %}
                <p>Planning of tomorrow</p>
                {% for element in list_all_tomorrow %}
                    <ul>
                        <li>
                            RDV N°{{ element.number_visit }}</br>
                            Date :      {{ element.visit.date }}</br>
                            Hour :      {{ element.visit.time }}</br>
                            Treatment : <a href="{% url 'soin_detail' element.patient.pk element.treatment.pk %}" >{{ element.visit.soin.name_soin }}</a></br>
                            Patient :   <a href="{% url 'patient_detail' element.patient.pk %}" >{{element.patient.FirstName}} {{element.patient.LastName}}</a></br>
                            Address :   {{element.patient.Adress}}</br>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-4 pull-left">
                        <form action="{% url 'nurse_list' nurse.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="NewForm" class="btn btn-block btn-success">
                                <i class="ion-plus"></i> Add an availability
                            </button>
                        </form>
                    </div>
                    <div class="col-md-4 pull-right">
                        {% csrf_token %}
                        <form action="{% url 'nurse_list' nurse.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="Deletion" class="btn btn-block btn-danger">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 push-md-3">
        <a class="btn btn-block btn-primary" href="{% url 'nurse_list' %}" style="color: #fff;text-decoration:none;">Back
            to
            Nurses</a>
    </div>
</div>


{% endblock %}