{% extends 'base.html' %}

{% block content %}
{% if object_list %}
<h1>Nurses Registered on the Platform</h1>
<div class="row">
    {% for nurse in object_list %}
    {% if nurse.office.user.id == user.id %}
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h2 class="box-title">{{ nurse.FirstName }} {{ nurse.LastName }}</h2>
            </div>
            <div class="box-body">
                <p>{{ nurse.Gender }}</p>
                <p>{{ nurse.PhoneNumber }}</p>

            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-4 pull-left">
                        <a href="{% url 'nurse_detail' nurse.pk %}" class="btn btn-block btn-info">See Details</a>
                    </div>
                    <div class="col-md-4 pull-right">
                        <form action="{% url 'nurse_list' nurse.pk %}" method="POST" class="pull-right">
                            {% csrf_token %}
                            <button type="submit" name="Deletion" class="btn btn-block btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}
</div>
<div class="row">
    <div class="col-md-8 col-md-push-2">
        <a class="btn btn-block btn-success" href="{% url 'nurse_creation_view' %}"><i class="ion-plus"></i> Add a Nurse</a>
    </div>
</div>


{% else %}
<h1>Not a single nurse is registered on the platform</h1>
<h2>Please add a nurse</h2>

<div class="row">
    <div class="col-md-8 col-md-push-2">
        <a class="btn btn-block btn-success" href="{% url 'nurse_creation_view' %}"><i class="ion-plus"></i> Add a Nurse</a>
    </div>
</div>
{% endif %}
{% endblock %}