{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h2 class="box-title">Add a treatment</h2>
            </div>
            <div class="box-body">
                <p style="color:red">{{ error_message }}</p>
                <form action="{% url 'soin_request' patient_pk %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-block btn-success"
                           style="color: #fff;text-decoration:none;"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}