{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-push-2">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <h3 class="profile-username text-center">{{ patient.FirstName }} {{ patient.LastName }}</h3>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Address</b><a class="pull-right">{{ object.Adress }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Phone Number</b><a class="pull-right">{{ object.PhoneNumber }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Email</b><a class="pull-right">{{ object.Email }}</a>
                    </li>
                </ul>
                {% if not object.treatments.all %}
                <p>No Treatment registered</p>
                {% endif %}

            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-4 pull-left">
                        <form action="{% url 'soin_request' patient.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="NewForm" class="btn btn-block btn-success">
                                <i
                                        class="ion-plus"></i> Add
                                a treatment
                            </button>
                        </form>
                    </div>
                    <div class="col-md-4 pull-right">
                        <form action="{% url 'patient_list' patient.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="Deletion Patient" class="btn btn-block btn-danger">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if object.treatments.all %}
<div class="row">
    {% for treatment in object.treatments.all %}
    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header">
                <h3>{{ treatment.name_soin }}</h3>
            </div>
            <div class="box-body">
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Type</b><a class="pull-right">{{ treatment.type_soin }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Start Date</b><a class="pull-right">{{ treatment.start_date }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Treatment Duration</b><a class="pull-right">{{ treatment.treatment_duration }} day(s)</a>
                    </li>
                    <li class="list-group-item">
                        <b>Frequence</b><a class="pull-right">{{ treatment.frequence_soin }}</a>
                    </li>
                </ul>
            </div>

            <div class="box-footer">
                <form action="{% url 'patient_detail' patient.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="Deletion Treatment" value="{{ treatment.pk }}">Delete this
                        treatment
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endif %}

<div class="row">
    <div class="col-md-2 push-md-3">
        <a class="btn btn-block btn-primary" href="{% url 'patient_list' %}">Back
            to
            Patient list</a>
    </div>
    {% if object.treatments.all %}
    <div class="col-md-2 pull-right">
    <form action="{% url 'soin_request' patient.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="NewForm" class="btn btn-block btn-success">
            <i
                    class="ion-plus"></i> Add
            a treatment
        </button>
    </form>
</div>

    {% endif %}

{% endblock %}